@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Repeated animation after initial fadeIn */
  @keyframes repeatAnimation {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    50% {
      opacity: 0.5;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Styling for the animated letters */
  .animated-text .letter {
    display: inline-block;
    opacity: 0; /* Ensures the letters are initially hidden */
  }
  
  
  @keyframes paintSplash {
    0% {
      transform: scale(1) rotate(0);
      border-radius: 50%;
      transform-origin: center;
    }
    50% {
      transform: scale(1.2) rotate(45deg) scale(1.3) scale(0.9);
      border-radius: 50%;
      transform-origin: center;
    }
    100% {
      transform: scale(8) rotate();
      border-radius: 50%;
      transform-origin: center;
    }
  }
  
  .animate-paintSplashBlue {
    animation: paintSplash 6s ease-in-out infinite;
  }
  
  .animate-paintSplashYellow {
    animation: paintSplash 4.5s ease-in-out infinite;
  }
  
  .animate-paintSplashPink {
    animation: paintSplash 3.5s ease-in-out infinite;
  }
  
  .animate-paintSplashRed {
    animation: paintSplash 6s ease-in-out infinite;
  }
  
  .animate-paintSplashGreen {
    animation: paintSplash 4.8s ease-in-out infinite;
  }
  
  .animate-paintSplashOrange {
    animation: paintSplash 3.7s ease-in-out infinite;
  }
  
  @keyframes zoomInOutChiT {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1.17); /* Zoom in */
    }
    100% {
      transform: scale(0.8); /* Zoom out to normal size */
    }
  }
  
  @keyframes zoomInOutChat {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1.15); /* Zoom in */
    }
    100% {
      transform: scale(0.8); /* Zoom out to normal size */
    }
  }
  
  .animate-zoomInOutChiT {
    animation: zoomInOutChiT 6.5s ease-in-out infinite;
  }
  
  .animate-zoomInOutChat {
    animation: zoomInOutChat 7.5s ease-in-out infinite;
  }
  
  /* Switch Styling */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(182, 171, 171, 0.329);
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #666e6652;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

@keyframes floatingBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-floating-background {
  animation: floatingBackground 5s linear infinite;
  background-size: 200% 200%;
}
